{% extends "layout/layout.html" %}
{% block main %}
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {% if diabetique is defined %}
                <h4 class="border-bottom mt-5 mb-5">{{ diabetique }} pour {{ pred }} avec {{ model_used}}</h1>
            {% endif %}
            <div class="form-group">
                {{ form.pregnent.label(class="form-control-label") }}

                {% if form.pregnent.errors %}
                {{ form.pregnent(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.pregnent.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.pregnent(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.glucose.label(class="form-control-label") }}

                {% if form.glucose.errors %}
                {{ form.glucose(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.glucose.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.glucose(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.pression_art.label(class="form-control-label") }}

                {% if form.pression_art.errors %}
                {{ form.pression_art(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.pression_art.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.pression_art(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.epaisseur_peau.label(class="form-control-label") }}

                {% if form.epaisseur_peau.errors %}
                {{ form.epaisseur_peau(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.epaisseur_peau.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.epaisseur_peau(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.insulin.label(class="form-control-label") }}

                {% if form.insulin.errors %}
                {{ form.insulin(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.insulin.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.insulin(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.IMC.label(class="form-control-label") }}

                {% if form.IMC.errors %}
                {{ form.IMC(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.IMC.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.IMC(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.fonction_diabete.label(class="form-control-label") }}

                {% if form.fonction_diabete.errors %}
                {{ form.fonction_diabete(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.fonction_diabete.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.fonction_diabete(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.age.label(class="form-control-label") }}

                {% if form.age.errors %}
                {{ form.age(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.age.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.age(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.models.label(class="form-control-label") }}

                {% if form.models.errors %}
                {{ form.models(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.models.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.models(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-success") }}
        </div>
    </form>
</div>
{% endblock main %}